<div class="independents-container">
  <div class="independents-card">
    <div class="switcher">
      <label>
        <input type="radio" name="puzzleType" [(ngModel)]="selected" value="queens" /> Queens
      </label>
      <label>
        <input type="radio" name="puzzleType" [(ngModel)]="selected" value="bishops" /> Bishops
      </label>
      <label>
        <input type="radio" name="puzzleType" [(ngModel)]="selected" value="knights" /> Knights
      </label>
      <label>
        <input type="radio" name="puzzleType" [(ngModel)]="selected" value="rooks" /> Rooks
      </label>
      <label>
        <input type="radio" name="puzzleType" [(ngModel)]="selected" value="kings" /> Kings
      </label>
    </div>
    <div class="puzzle-content">
  <app-eight-queens *ngIf="selected === 'queens'"></app-eight-queens>
  <app-bishops *ngIf="selected === 'bishops'"></app-bishops>
  <app-knights *ngIf="selected === 'knights'"></app-knights>
  <app-rooks *ngIf="selected === 'rooks'"></app-rooks>
  <app-kings *ngIf="selected === 'kings'"></app-kings>
    </div>
  </div>
</div>
